$primary-color-dark: rgba(26, 31, 43, 1);
$primary-color-light: rgba(29, 62, 96, 1);
$bg: black;
$text-color: rgb(199, 199, 199);
$subtext-color: rgb(173, 173, 173);
$text-color-active: #fff;
$main-font: 'Righteous', cursive;
$secondary-font: 'Roboto', sans-serif;

/*
* {
	background-color: rgba(255, 0, 0, .2);
}
* * {
	background-color: rgba(0, 255, 0, .2);
}
* * * {
	background-color: rgba(0, 0, 255, .2);
}
* * * * {
	background-color: rgba(255, 0, 255, .2);
}
* * * * * {
	background-color: rgba(0, 255, 255, .2);
}
* * * * * * {
	background-color: rgba(255, 255, 0, .2);
}
* * * * * * * {
	background-color: rgba(255, 0, 0, .2);
}
* * * * * * * * {
	background-color: rgba(0, 255, 0, .2);
}
* * * * * * * * * {
	background-color: rgba(0, 0, 255, .2);
}
*/

body {
	color: $text-color;
	background-color: $bg;
	background-image: url('./img/footlights-logo-bg2.png');
	background-repeat: repeat;
	//background-position: center;
	text-align: center;
	margin: 0;
	padding: 0;
	max-width: inherit;
	font-family: $secondary-font;
}

a {
	color: $text-color;
	&:link,
	&:hover,
	&:visited {
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
}
ul {
	list-style-type: none;
}

// Top Bar
.topbar {
	top: 0;
	left: 0;
	position: fixed;
	z-index: 100;
	width: 100%;
	background: linear-gradient(90deg, $primary-color-light 0%, $primary-color-dark 50%, $primary-color-light 100%);
	border-bottom: 1px solid rgb(185, 38, 38);
	display: inline-block;
	&__logo a {
		display: inline-block;
		left: 0;
	}
}
main {
	margin-top: 50px;
}
.games-list {
	padding: 2em;
}
.games-list__item {
	display: inline-block;
	padding: 0.7em;
	margin: 0.5em;
	background-color: #1a1f2b;
	border: 1px solid red;
	border-radius: 5px;
	min-width: 300px;
	transition: all 0.1s ease-in-out;

	&:hover {
		color: $text-color-active;
		background-color: $primary-color-light;
	}
}
.games-list__league {
	color: $subtext-color;
	font-size: 0.8em;
}
.games-list__item--active {
	color: $text-color-active;
	background-color: $primary-color-light;
}

.games-list__video {
	text-align: center;
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin: 0.5em;
}
.games-list__video--active {
	list-style-type: none;
	display: flex;
	justify-content: center;
}
