$primary-color-dark: rgba(26, 31, 43, 1);
$primary-color-light: rgba(29, 62, 96, 1);
$button-color: rgba(26, 31, 43, 1);
$button-color-active: rgba(31, 36, 50, 1);
$bg: rgb(15, 15, 24);
$text-color: rgb(199, 199, 199);
$subtext-color: rgb(173, 173, 173);
$text-color-active: #fff;
$main-font: 'Righteous', cursive;
$secondary-font: 'Roboto', sans-serif;
$transition: all 0.1s ease-in-out;
/*
* {
	background-color: rgba(255, 0, 0, .2);
}
* * {
	background-color: rgba(0, 255, 0, .2);
}
* * * {
	background-color: rgba(0, 0, 255, .2);
}
* * * * {
	background-color: rgba(255, 0, 255, .2);
}
* * * * * {
	background-color: rgba(0, 255, 255, .2);
}
* * * * * * {
	background-color: rgba(255, 255, 0, .2);
}
* * * * * * * {
	background-color: rgba(255, 0, 0, .2);
}
* * * * * * * * {
	background-color: rgba(0, 255, 0, .2);
}
* * * * * * * * * {
	background-color: rgba(0, 0, 255, .2);
}
*/
body {
	color: $text-color;
	background-color: $bg;
	background-image: url('./img/footlights-logo-bg2.png');
	background-repeat: repeat;
	background-position: center;
	text-align: center;
	margin: 0;
	padding: 0;
	max-width: inherit;
	font-family: $secondary-font;
}

a {
	color: $text-color;
	&:link,
	&:hover,
	&:visited {
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
}
ul {
	list-style-type: none;
}

// Top Bar
.topbar {
	top: 0;
	left: 0;
	position: fixed;
	z-index: 101;
	width: 100%;
	background: linear-gradient(90deg, $primary-color-light 0%, $primary-color-dark 50%, $primary-color-light 100%);
	border-bottom: 1px solid rgb(185, 38, 38);
	display: inline-block;
	box-shadow: 0px 1px 5px black;
	&__logo a {
		display: inline-block;
		left: 0;
	}
}
.topbar__competition {
	&--list {
		top: 44px;
		width: 100%;
		z-index: 100;
		position: fixed;
		display: flex;
		flex-direction: row;
		justify-content: center;
		background: $primary-color-light;
		margin: 0;
		padding: 10px;
		border-bottom: 1px solid rgb(185, 38, 38);
		box-shadow: 0px 1px 5px black;
	}
	&--item {
		padding: 0px 3px 0px 3px;
	}
	&--button {
		color: white;
		background-color: $button-color;
		cursor: pointer;
		border: none;
		border-radius: 5px;
		padding: 5px;
	}
	&--button:hover {
		background-color: $button-color-active;
		transform: scale(1.05);
	}
}

main {
	margin-top: 50px;
	width: 100%;
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: linear-gradient(90deg, $primary-color-light 0%, $primary-color-dark 50%, $primary-color-light 100%);
	border-top: 1px solid rgb(185, 38, 38);
	font-size: 0.8em;
	&__link {
		display: inline-block;
		padding: 14px;
	}
	& a:hover {
		transition: $transition;
		color: #fff;
	}
	& p {
		display: inline;
	}
	&__separator {
		border-left: 1px solid #38546d;
		border-right: 1px solid #16222c;
		height: 20px;
	}
}
.games-list {
	padding: 3em 2em 2em 0;
	min-width: 300px;
	min-height: 500px;
}
.games-list__item {
	display: inline-block;
	padding: 0.7em;
	margin: 0.5em;
	background-color: #1a1f2b;
	border: 1px solid red;
	border-radius: 5px;
	min-width: 300px;
	transition: $transition;
	&:hover {
		color: $text-color-active;
		background-color: $primary-color-light;
		transform: scale(1.05);
	}
}
.games-list__league,
.games-list__date {
	color: $subtext-color;
	font-size: 0.8em;
}
.games-list__item--active {
	color: $text-color-active;
	background-color: $primary-color-light;
}

.games-list__video {
	width: 100%;
	padding: 30px 0 30px 0;
	position: relative;
	& iframe {
		display: block;
	}
}

.games-list__video--active {
	list-style-type: none;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 480px) {
	ul {
		padding-inline-start: 0;
	}
	.games-list {
		padding: 0;
	}
	.games-list__video iframe {
		max-width: 300px;
		max-height: 400px;
	}
}
